﻿
@model PROYECTO_FINANZAS.Web.ViewModel.Perfil.ListarPerfilesViewModel

@{
    ViewBag.Title = "Mis Perfiles";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Mis Perfiles
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-users"></i> Mis Perfiles
            </li>
        </ol>
    </div>
</div>

@if (TempData["Mensaje"] != null)
{
    String Mensaje = TempData["Mensaje"].ToString();

    if (Mensaje.Contains("exitosamente"))
    {
        <div class="alert alert-success fade in" id="mensaje">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>@Mensaje
        </div>
    }
    else
    {
        <div class="alert alert-danger" id="mensaje">
            @Mensaje
        </div>
    }
}

<div class="panel panel-default">
    <div class="panel-heading text main-text">
        Mis Perfiles
    </div>
    <div class="panel-body">
        <input id="searchInput" class="form-control" placeholder="Escriba para filtrar" />
        <br />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>@Html.LabelFor(X => X.LstPerfiles.First().Nombre)</th>
                        <th>@Html.LabelFor(X => X.LstPerfiles.First().Dni)</th>
                        <th>@Html.LabelFor(X => X.LstPerfiles.First().Email)</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody id="toBody">
                    @foreach (var Item in Model.LstPerfiles)
                    {
                        <tr>
                            <td><a href="@Url.Action("SeleccionarPerfil","Perfil",new { PerfilId = Item.PerfilId })" class="btn btn-xs"><i class="fa fa-pencil"></i>@Item.Nombre @Item.Apellido</a></td>
                            <td>@Item.Dni</td>
                            <td>@Item.Email</td>
                            <td><a href="@Url.Action("Edit", "Perfil", new { PerfilId = Item.PerfilId })" class="btn btn-xs"><i class="fa fa-pencil"></i> Editar</a></td>
                            <td><a href="@Url.Action("Delete", "Perfil", new { PerfilId = Item.PerfilId })" class="btn btn-xs"><i class="fa fa-pencil"></i> Eliminar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("Edit", "Perfil")" class="btn btn-danger square-btn-adjust"><i class="fa fa-plus"></i> Nuevo Perfil</a>
        </div>
    </div>
</div>
